* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

html, body {
    /* height: 100%; */
    width: 100%;
    /* background-color:whitesmoke; */
}

#logo img {
    width: 150px;
    height: 150px;
}

.navbar {
    width: 99%;
    height: 10vh;
    /* background-color: rgba(217, 184, 250, 0.397); */
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* border: 1px solid black; */
    margin: 5px;
    overflow: hidden;
}

.navbar #menus {
    display: flex;
    align-items: center;
    margin-right: 5vw;
    gap: 2vw;
}

#menus .login-btn {
    width: 70px;
}

#main > #searchbutton {
    padding: 5px;
}

button {
    padding: 3px;
    margin-right: 10px;
}

button:hover {
    cursor: pointer;
}

#cards {
    height: 300px;
    width: 200px;
    margin: 5px;
    padding: 5px;
    line-height: 1.7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color:rgb(252, 239, 223);
}

#cards > p {
    font-size: 12px;
}

#cards:hover {
    border: 1px solid rgb(66, 66, 66);
    cursor: pointer;
    /* box-shadow: 0px 0px 5px 1px rgb(126, 126, 126); */

}

#cards > img {
    height: 120px;
    width: 100%;
    padding: 5px;
    margin-bottom: 1vh;
    border-radius: 5px;

}

#main > #res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}